
* {
    margin:0;
    padding:0;
    box-sizing: border-box;
  }
  html {
    font-size:62.5%;
    scroll-behavior: smooth;
  }

body{
    background-color:#E5E5E5; 
}
/*heading1 section styles*/
.subheading1{
    /*position: absolute;
    padding: 0 10px 0 10px;
    width: 375px;
    height: 724px;*/
    align-self: stretch;
    background: #C7DDEA;
  display: flex;
  flex-direction: column;
background: #C7DDEA;
}
.subheading1 h1{
   margin-top: 70px; 
font-family: Frank Ruhl Libre;
font-style: normal;

font-size: 45px;
/*line-height: 100%;
height: 101px;
letter-spacing: -0.02em;
*/
color: #000000;
}
.subheading1 img{
    align-self: center;
 
  margin-top: 30px;
  width: 50vw; min-width: 300px; 
  background-color:#C7DDEA;
}
.subheading1 p{
    
/*width: 343px;
position: absolute;
height: 103px;*/
margin:0;
font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 14px;
/*line-height: 24px;*/
color: rgba(0, 0, 0, 0.6);
}
.subheading1 button{
    margin-top: 1rem;
    align-self:flex-start;
    /*position: absolute;*/
    width: 101px;
    height: 30px;
    font-family: Fira Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 10px;
    line-height: 12px;
    align-items: center;
    text-align: center;
    color: rgba(0, 0, 0, 0.8);
      
}
/*heading 2 styles*/
.subheading2{
 display:flex;
 flex-direction: column;  
 align-items:center;
 justify-content:center; 
height: 315px;
left: 0px;
top: 724px;
 background-color: #F17949;
   
}
.subheading2  h2{
    color: white;
  font-size: 32px;
  font-weight: 900;
}
.subheading2  p{
    font-size: 14px;
    font-weight: bold;
}


/*heading 3 styles*/
.subheading3{
    background-color:#FAB131;
    display:flex;
    flex-direction: column;  
    align-items:center;
    justify-content:center; 
height: 315px;
left: 0px;
top: 1039px;
   
}
.subheading3  h2{
    color: white;
  font-size: 32px;
  font-weight: 900;
}
.subheading3  p{
    font-size: 14px;
    font-weight: bold;
}
/*Navigation styles*/
nav{
    padding: 2rem;
    display: none;
}
.navigation{
  
    display:flex;
    list-style-type: none;
    justify-content: space-evenly;
    align-self: start;
}
.menu a:hover{
color:#48424d;
}
.navlink{
    color:hsl(0, 9%, 45%);
 text-decoration: none;
  font-weight:800;
}

.activelink{
    color: #000;
    opacity: unset;
}



/* Main area safety section styles*/
.financial{
    width: 100%;
    background-color : #A9A19E;
    /*flex-direction: column;*/
    display: flex;
    flex-wrap: wrap;
    /*text-align: justify;*/
    margin: 0rem;
  margin-bottom: 0rem;
 


}
/*.headsafety{
    display: flex;
    flex-direction: column;
   padding: 3rem 2rem;
    overflow: hidden;
}*/
.headsafety h1{
    align-self: justify;
    margin:0;
    top: 1391px;
    left:16px;

    font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 600;
font-size: 35px;

/* or 45px */

letter-spacing: normal;

color: #FFFFFF;
    
}

.safetyinfo p{
    /*top: 1551;*/
    padding: 0 2rem;
  margin-bottom: 3rem;
  text-align:justify;
  font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size:14px;
line-height: 24px;
/* or 171% */


color: rgba(0, 0, 0, 0.6);

}
.flexparent{
    width: 100%;
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 8rem; */
  /* column-gap: 2rem; */
  justify-content: space-evenly;
  margin-top:0px;
  margin-bottom: 0rem;
  background-color : #A9A19E;

}  

.safetypic{
    display:flex;
    flex-direction: column;
    
    align-items: center;
    text-align: justify;
    background-color:white;
    /*margin:5px;*/
    max-width: 29rem;
    border-radius: 4px;
    margin-bottom: 5rem;
}
.image1{
        min-width: 90%;
        min-height: 10rem;
        margin-top: -4px;
        background-position: center 1rem ;
        background-size: 4rem;
        border-radius: 4px;
        background-repeat: no-repeat;
        box-shadow: 0 0 15px rgba(0,0,0,.3);
       /* width: 50vw; min-width: 360px;*/ text-align: center;  background-color:#C7DDEA; 
    }
    .image-c{
        background-color:#C7DDEA;
    }


.image-a{
         background-color:#FAB131;  
    }
    
        
  h1{
    font-size: medium;
    text-align: center;
}
p{
    text-align: center;
}

.image-o{
   background-color:#F17949;  
}
/* abouts us styles*/
.aboutus{

/* top: 3500px; */
margin-top:auto;
    background: #fab131;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
}
.aboutus p{
    font-size: 14px;
  font-weight: 500;
  margin-bottom: 30px;
  text-align: center;
}
.aboutus h1{
    color: white;
  font-size: 45px;
  margin-bottom: 30px;
}
/*how it woks styles */
.how_works{
   margin-left: 0%;
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    background-color:white;
}
.hiw{
    display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  min-height: 10vh;
  text-align: center;
  padding: 2rem;
}
.hiw h1{
    font-family: Frank Ruhl Libre;
font-style: normal;
font-weight: 600;
font-size: 45px;
line-height: 100%;
align-self: flex-start;
/* or 45px */
letter-spacing: -0.01em;

color: rgba(0, 0, 0, 0.8);


}
.hiw_num{
    font-size: 1.6em;
  color:rgb(160, 139, 139);
  align-self: flex-start;
}
.hiw_info{
    font-family: Fira Sans;
font-style: normal;
font-weight: 500;
font-size: 17px;
line-height: 20px;
/* or 118% */

display: flex;
align-items: center;
text-align: center;

color: black;

}
.bg1{
    background: #C7DDEA;
}
.bg_w{
    background: #FFFFFF;
}
.bg2{
    background: #EBEBEB;
}
.bg3{
    background: #F17949;
}

/***********footer styles************/

footer{
    height: 340px;
    background: #777574;
    }
.go_up {
        background-color:#adaaaa;
        text-align: center;
        color:rgba(0, 0, 0, 0.7);
        padding-bottom: 2rem;
      }    
.go_up a{
        font-style: normal;
        font-weight: 500;
        font-size: 17px;
        line-height: 20px;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.7);
        width: 100%;
        height: 100%;
        margin-top: 3rem;
    } 

    /* media quries for Landing page*/
/***** heading section****/
@media only screen and (min-width:600px){
.mainheading1{
    display:grid;
    grid-template-columns: 1fr 1fr;

}
.subheading1{
    grid-row: span 2;
    padding-left: 10px;
    margin-bottom: 0rem;
}
.subheading1 img{
    align-self:end;
    max-width:90%;
    min-width: 300px
    /*margin-top:0;*/
    
}

nav{
    display:block
}

@media only screen and (min-width: 650px) {
    /* About us */


.aboutus p {
  max-width: 80%;
}
}
@media only screen and (min-width: 800px) {
    .subheading1 img{
        align-self:flex-end;
        /*max-width:90%;*/
        min-width: 300px;
        margin-top: 0;
        width: 30vw; 
    }
   .subheading1 {
       
      padding-left: 80px;
    
    }
    .subheading1 p {
      max-width: 35ch;
    }
  
    /* About us */
  .aboutus{
    padding: 180px 50px;
  }
  
  .aboutus p {
    max-width: 50%;
  }
  }
@media only screen and (min-width: 700px) {
    .hiw {
      min-width: 33.33%;
      max-width: 33.33%;
    }
  }
  /* Financial safety net section*/

@media only screen and (min-width: 768px) {
    
    .headsafety {
      
      margin:0 auto 14rem auto; 
      row-gap: 10rem;
      padding-top:6rem;
      padding-left: 10rem;
      
    }
  
    .safetyinfo {
      margin: 0 auto;
      padding: 8rem 5rem 0 0;
  
    }
  
    
    .safetyinfo p {
      width: 30ch;
    }
  }
  
 @media only screen and (min-width: 768px) {
    .flexparent {
       
       /*flex-direction: row;*/
      max-height: 22vh;
    }  
  }


  /* Contact page styles*/

  .heading h1{
    max-width: 314px;
    height: 90px;
    margin-top: 150px;
    margin-left: 200px;
   
    font-family: Frank Ruhl Libre;
    font-style: normal;
    font-weight: 900;
    font-size: 45px;
    line-height: 100%;
    /* or 45px */

    letter-spacing: -0.02em;
  }
  .contact_heading{
      max-width: 1002px;
      margin-left: auto;
      margin-right: auto;
      background-color: #C7DDEA;
  }
  .heading img{
      margin-left: 50rem;
      margin-top: 56px;
  }
  .fill_form{
      height:544px ;
      background: #A9A19E;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-areas: "box1 box2";
      


  }
  .form_heading{
      grid-area: box1;
  }
  .form_fill{
    grid-area:box2
  }
  .fill_form h1{
    color: #FFFFFF;
    width: 314px;
    height: 140px;
    margin-top: 106px;
    margin-left: 40px;
    font-size: 40px;
    font-weight: 800;
  }
  .form_box{
    max-width: 334px;
    margin-top: 106px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;  
  }
  label{
    width: 167px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 100%;
    /* or 14px */
    letter-spacing: -0.02em;
    color: #FFFFFF;
    opacity: 0.7;
    }
    .form_fill button{
            
            width: 131px;
            height: 42px;
            background: #FFFFFF;
            box-shadow: 0px 2px 0px rgba(0, 0, 0, 0.1);
            border-radius: 100px;
            font-family: Fira Sans;
            font-style: normal;
            font-weight: bold;
            font-size: 10px;
            line-height: 12px;
            color: rgba(0, 0, 0, 0.8);
            float: right;
        
    }
    .map_display{
        padding-top: 45px;
    height: 500px;
    background-image: url("../images/map.png");
    color: white;
    display: flex;
    }
    .map_adress{
        width: 323px;
    height: 206px;
    margin-left: 86px;
    padding: 20px;
    background: #FAB131;
    box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.1);
    }
    .map_adress{
        font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    }
    .map img{
        align-self: center;
        margin-left: 10px;
    }

    


    
